# pattern-2
diamond-of-stars 
inverted-number-pattern 
mirror-number-pattern 
star-pattern 
triangle-of-numbers

# Arrays
arrange-numbers-in-array 
arraySum 
find-duplicate 
find-unique 
Intersection-of-two-arrays 
linear-search 
pairSum 
Sort-0-1 
swap-alternate 
triplet-sum

# Searching and Sorting
check-array-rotation 
insertion-sort 
merge-two-sorted-arrays 
push-zeros-to-end 
rotate-array 
second-largest-in-array 
Sort_0_1_2 
sum-of-two-arrays

# Character Arrays and 2D Arrays
check-palindrome 
check-permutation 
column-wise-sum 
compress-the-string 
highest-occuring-character 
largest-row-or-column 
print-all-substring 
remove-character 
remove-consecutives-duplicates 
replace-character 
reverse-word-wise 
revrse-each-word 
spiral-print 
trim-spaces 
wavePrint